<div class="container mt-5">
  <h1 class="text-center mb-4">Formas de Pagamento</h1>
  <p class="text-center mb-4">Oferecemos várias opções para facilitar o seu pagamento. Escolha a que melhor se adapta a você!</p>

  <div class="row justify-content-center">

      <div class="col-sm-4 col-md-2 mb-4">
          <div class="card text-center">
              <div class="card-body">
                  <p class="card-text font-weight-bold">Visa</p>
              </div>
          </div>
      </div>


      <div class="col-sm-4 col-md-2 mb-4">
          <div class="card text-center">
              <div class="card-body">
                  <p class="card-text font-weight-bold">MasterCard</p>
              </div>
          </div>
      </div>


      <div class="col-sm-4 col-md-2 mb-4">
          <div class="card text-center">
              <div class="card-body">
                  <p class="card-text font-weight-bold">Nubank</p>
              </div>
          </div>
      </div>


      <div class="col-sm-4 col-md-2 mb-4">
          <div class="card text-center">
              <div class="card-body">
                  <p class="card-text font-weight-bold">PicPay</p>
              </div>
          </div>
      </div>

 
      <div class="col-sm-4 col-md-2 mb-4">
          <div class="card text-center">
              <div class="card-body">
                  <p class="card-text font-weight-bold">Boleto Bancário</p>
              </div>
          </div>
      </div>
  </div>
</div>
