<div class="payment-methods-container">
  <h1>Formas de Pagamento</h1>
  <p>Oferecemos várias opções para facilitar o seu pagamento. Escolha a que melhor se adapta a você!</p>

  <div class="payment-methods">
      <div class="payment-method">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPmba_oTohoX6U7cSVi1DiLBFMRmQgSbCjUw&s" alt="Visa" class="payment-icon">
          <p>Visa</p>
      </div>
      <div class="payment-method">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRmMfA_X9zakO7onafeEMLjtoqsGYd2IE65w&s" alt="Mastercard" class="payment-icon">
          <p>MasterCard</p>
      </div>
      <div class="payment-method">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA28H2qQNDhnlJWXczoQPybieZA0UxwA0pkA&s" class="payment-icon">
          <p>Nubank</p>
      </div>
      <div class="payment-method">
          <img src="https://t.ctcdn.com.br/QWZd4pcDd4i0C6NjoUHvXVgXj6M=/768x432/smart/i393049.png" alt="PicPay" class="payment-icon">
          <p>PicPay</p>
      </div>
      <div class="payment-method">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS95HmcM8ETgWwjsZGpm4uvkP8TeLCeMgmUNg&s" alt="Boleto Bancário" class="payment-icon">
          <p>Boleto Bancário</p>
      </div>
  </div>
</div>
