<div class="container mt-5">
  <h1 class="text-center mb-4">Formas de Pagamento</h1>
  <p class="text-center mb-4">Oferecemos várias opções para facilitar o seu pagamento. Escolha a que melhor se adapta a você!</p>

  <div class="row justify-content-center">

      <div class="col-sm-4 col-md-2 mb-4">
        <img src="visa.webp" alt="Visa" class="img-fluid">
      </div>


      <div class="col-sm-4 col-md-2 mb-4">
        <img src="mastercard.png" alt="mastercard" class="img-fluid">
      </div>


      <div class="col-sm-4 col-md-2 mb-4">
        <img src="nubank.png" alt="Nubank" class="img-fluid">
      </div>


      <div class="col-sm-4 col-md-2 mb-4">
        <img src="picpay.png" alt="PicPay" class="img-fluid">
      </div>


      <div class="col-sm-4 col-md-2 mb-4">
        <img src="boleto.png" alt="Boleto" class="img-fluid">
      </div>
  </div>
</div>
