<footer class="footer mt-5 pb-5 navbar-light bg-dark fixed-bottom">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-2 mb-2">
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-white">Página inicial</a></li>
      <li class="nav-item"><a routerLink="/about-us" class="nav-link px-2 text-white">Quem somos</a></li>
      <!--li class="nav-item><a href="#" class="nav-link px-2 text-white">Cardápio</a></li-->
      <li class="nav-item"><a routerLink="/location" class="nav-link px-2 text-white">Localização</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link px-2 text-white">Contatos</a></li>
    </ul>
    <p class="text-center text-white">© 2024 Opa! Pão Padaria Ltda. Todos os direitos reservados.</p>
  </div>
</footer>
<hr class="my-5 pb-5"/>