
<hr>
<br>
<h2 style="text-align: center; font-family: 'Courier New', Courier, monospace; font-weight: bold;">Receba as novidades e promoções da casa</h2>

<form (ngSubmit)="cadastrar()">
  <input type="text" placeholder="Nome" class="form-control" [(ngModel)]="nome">
  <input type="text" placeholder="Sobrenome" class="form-control" [(ngModel)]="sobrenome">
  <input type="email" placeholder="Email" class="form-control" [(ngModel)]="email">
  <input type="submit" value="Cadastrar" class="btn btn-dark mt-3">
</form>