<div class="support-container">
  <h1>Suporte ao Cliente</h1>
  <p>Tem algum problema ou dúvida? Estamos aqui para ajudar! Entre em contato conosco por qualquer um dos canais abaixo.</p>

  <div class="support-options">
      <div class="support-option">
          <h2>Telefone</h2>
          <p>Ligue para nossa central de atendimento e fale com um de nossos atendentes.</p>
          <p><strong>Telefone:</strong> (84) 9876-5432</p>

      </div>

      <div class="support-option">
          <h2>E-mail</h2>
          <p>Enviando um e-mail, nossa equipe responderá o mais breve possível.</p>
          <p><strong>E-mail:</strong> suportepadariaxyz.com</p>

      </div>

      <div class="support-option">
          <h2>Redes Sociais</h2>
          <p>Nos envie uma mensagem através das nossas redes sociais e ficaremos felizes em ajudar.</p>
          <p><strong>Instagram:</strong> padariaxyz</p>
          <p><strong>Facebook:</strong> /padariaxyz</p>

      </div>

      <div class="support-option">
          <h2>FAQ (Perguntas Frequentes)</h2>
          <p>Verifique nossas respostas para as perguntas mais comuns antes de entrar em contato.</p>
          <p><strong>Acesse aqui:</strong> <a href="#">FAQ</a></p>

      </div>
  </div>
</div>
